
<div  style="padding: 0px 20px;">
    <dx-responsive-box singleColumnScreen="sm" [screenByWidth]="getSizeQualifier">
        <dxi-row></dxi-row>
        <dxi-row></dxi-row>

        <dxi-col [ratio]="1"></dxi-col>
        <dxi-col [ratio]="1" style="text-align:right;"></dxi-col>
        <dxi-item>
            <dxi-location
            [row]="0"
            [col]="0"
            screen="lg"
            ></dxi-location>
            <dxi-location
            [row]="0"
            [col]="0"
            screen="sm"
            ></dxi-location>
            <div *dxTemplate>
              <h2 class="content-block"><i class="{{pageIcon}}"></i>&nbsp;&nbsp;{{pageTitle}}</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <dxi-location
              [row]="0"
              [col]="1"
              screen="lg"
            >
            </dxi-location>
            <dxi-location
              [row]="0"
              [col]="1"
              screen="sm"
            ></dxi-location>
            <div *dxTemplate class="header item" style="padding:10px;">
              <dx-button
              stylingMode="contained"
              text="Yeni Ürün Grubu"
              type="success"
              width="100%"
              height="100%"
              (onClick)="yeniUrunGrubuClick($event)"
            >
            </dx-button>
            </div>
          </dxi-item>
        <dxi-item>
            <dxi-location
            [row]="1"
            [col]="0"
            [colspan]="2"
            screen="lg"
            ></dxi-location>
            <dxi-location
            [row]="1"
            [col]="0"
            [colspan]="2"
            screen="sm"
            ></dxi-location>
            <div *dxTemplate>
                <dx-data-grid class="dx-card wide-card" #dataGridVar
                    [dataSource]="dataStoreMusteriler"
                    [repaintChangesOnly]="true"
                    keyExpr="id"
                    [showBorders]="true"
                    [focusedRowEnabled]="true"
                    [columnAutoWidth]="false"
                    [columnHidingEnabled]="true">
                    <dxo-editing
                    mode="row"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [useIcons]="true"
                    ></dxo-editing>
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

                    <dxi-column
                        dataField="id"
                        width="10%"
                        [visible]="false"
                        [hidingPriority]="1">
                    </dxi-column>
                    <dxi-column type="buttons" width="10%">
                        <dxi-button name="edit"></dxi-button>
                        <dxi-button name="delete"></dxi-button>
                    </dxi-column>
                    <dxi-column
                        dataField="aktif"
                        width="10%"
                        [hidingPriority]="97">
                    </dxi-column>
                    <dxi-column
                        dataField="grup_adi"
                        caption="Ürün Grubu Adı"
                        [hidingPriority]="98">
                    </dxi-column>
                </dx-data-grid>
            </div>
        </dxi-item>
    </dx-responsive-box>
</div>

<dx-popup
    width="70%"
    height="auto"
    [showTitle]="true"
    title="Yeni Ürün Grubu Ekleme"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="popupVisible"
    [closeOnOutsideClick]="false"
  >
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="saveButtonOptions"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeButtonOptions"
    >
    </dxi-toolbar-item>
    <dxo-position at="center" my="center"> </dxo-position>
    <div *dxTemplate="let data of 'content'">
        <form class="login-form" action="javascript:void(0)">       
            <dx-form [formData]="formData" [disabled]="loading" #formVar>
              <dxi-item dataField="grup_adi" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'filled', placeholder: 'Ürün Grubu Adı', mode: 'text' }">
                <dxo-label [visible]="false"></dxo-label>
              </dxi-item>  
            </dx-form>
          </form>
    </div>
  </dx-popup>
  