
<div  style="padding: 0px 20px;">
  <dx-responsive-box singleColumnScreen="sm" [screenByWidth]="getSizeQualifier">
      <dxi-row></dxi-row>
      <dxi-row style="height: 100%;"></dxi-row>

      <dxi-col [ratio]="1"></dxi-col>
      <dxi-col [ratio]="1" style="text-align:right;"></dxi-col>
      <dxi-col [ratio]="1" style="text-align:right;"></dxi-col>
      <dxi-item>
          <dxi-location
          [row]="0"
          [col]="0"
          screen="lg"
          ></dxi-location>
          <dxi-location
          [row]="0"
          [col]="0"
          screen="sm"
          ></dxi-location>
          <div *dxTemplate>
            <h2 class="content-block"><i class="{{pageIcon}}"></i>&nbsp;&nbsp;{{pageTitle}}</h2>
          </div>
      </dxi-item>
      <dxi-item>
        <dxi-location
        [row]="0"
        [col]="1"
        screen="lg"
        ></dxi-location>
        <dxi-location
        [row]="0"
        [col]="1"
        screen="sm"
        ></dxi-location>
        <div *dxTemplate style="vertical-align:center; padding:20px;">
          <dx-select-box
            [dataSource]="durumlar"
            displayExpr="DurumText"
            valueExpr="id"
            placeholder="(Tümü)"
            (onKeyDown)="selectClear($event)"
            (onValueChanged)="selectStatus($event)"
          ></dx-select-box>
        </div>
    </dxi-item>
      <dxi-item>
          <dxi-location
            [row]="0"
            [col]="2"
            screen="lg"
          >
          </dxi-location>
          <dxi-location
            [row]="0"
            [col]="2"
            screen="sm"
          ></dxi-location>
          <div *dxTemplate class="header item" style="padding:10px;">
            <dx-button
            stylingMode="contained"
            text="Yeni İstek Ekle"
            type="success"
            width="100%"
            height="100%"
            (onClick)="click($event)"
          >
          </dx-button>
          </div>
        </dxi-item>
      <dxi-item>
          <dxi-location
          [row]="1"
          [col]="0"
          [colspan]="3"
          screen="lg"
          ></dxi-location>
          <dxi-location
          [row]="1"
          [col]="0"
          [colspan]="3"
          screen="sm"
          ></dxi-location>
          <div *dxTemplate>
              <dx-data-grid class="dx-card wide-card" #dataGridBuy
                  [dataSource]="dataSource"
                  (onCellPrepared)="onCellPrepared($event)"
                  [repaintChangesOnly]="true"
                  [showBorders]="true"
                  [focusedRowEnabled]="true"
                  [columnAutoWidth]="false"
                  [columnHidingEnabled]="true">
                  <dxo-editing
                  mode="row"
                  [allowUpdating]="true"
                  [allowDeleting]="yetkili"
                  [useIcons]="true"
                  >
                  </dxo-editing>
                  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                  <dxo-paging [pageSize]="10"> </dxo-paging>
                  <dxo-pager
                    [visible]="true"
                    [allowedPageSizes]="[10, 'all']"
                    displayMode="full"
                    [showPageSizeSelector]="true"
                    [showInfo]="true"
                    [showNavigationButtons]="true"
                  >
                  </dxo-pager>
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

                  <dxi-column
                      dataField="id"
                      [visible]="false"
                      [hidingPriority]="1">
                  </dxi-column>
                  <dxi-column type="buttons" width="5%">
                      <dxi-button name="delete" ></dxi-button>
                      <dxi-button name="detail" hint="Detay" icon="fa fa-info" [onClick]="detayIconClick" [visible]="isDetayIconVisible" [disabled]="isDetayIconDisabled"></dxi-button>
                  </dxi-column>
                  <dxi-column
                      dataField="tarih"
                      caption="Tarih"
                      [allowEditing]="false"
                      dataType="datetime"
                      [hidingPriority]="99">
                  </dxi-column>
                  <dxi-column
                      dataField="durum"
                      [hidingPriority]="98"
                      dataType="number"
                      [allowEditing]="false"
                      [showEditorAlways]="true"
                      >
                  <dxo-lookup [dataSource]="durumlar" displayExpr="DurumText" valueExpr="id">
                  </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  
                  <dxi-column
                      dataField="kullanici_id"
                      caption="Adı Soyadı"
                      [allowEditing]="false"
                      [hidingPriority]="97"
                      dataType="number"
                      >
                      <dxo-lookup [dataSource]="dataKullanicilar" displayExpr="adisoyadi" valueExpr="id">
                      </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column
                      dataField="istek"
                      caption="Sipariş Adı"
                      [hidingPriority]="96">
                  </dxi-column>
                  <dxi-column
                      dataField="aciklama"
                      caption="Açıklama"
                      [visible]="false"
                      [hidingPriority]="96">
                  </dxi-column>
                  <dxi-column
                      dataField="sorumlu_id"
                      caption="Sorumlu"
                      [hidingPriority]="1"
                      dataType="number"
                      >
                      <dxo-lookup [dataSource]="dataKullanicilar" displayExpr="adisoyadi" valueExpr="id">
                      </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column
                      dataField="takipci_id"
                      caption="Takipçi"
                      [hidingPriority]="2">
                      <dxo-lookup [dataSource]="dataKullanicilar" displayExpr="adisoyadi" valueExpr="id">
                      </dxo-lookup>
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column
                      dataField="kullanilacagi_yer"
                      caption="Kullanılacağı Yer"
                      [hidingPriority]="5">
                  </dxi-column>
                  <dxi-column
                    dataField="satinalma_sip_tarih"
                    [visible]="false"
                    [hidingPriority]="1">
                  </dxi-column>
                  <dxi-column
                    dataField="detay_aciklama"
                    [visible]="false"
                    [hidingPriority]="1">
                  </dxi-column>
                  <dxi-column
                    dataField="gelis_tarih"
                    [visible]="false"
                    [hidingPriority]="1">
                  </dxi-column>
                  <dxi-column
                    dataField="temrin"
                    [visible]="false"
                    [hidingPriority]="1">
                  </dxi-column>
              </dx-data-grid>
          </div>
      </dxi-item>
  </dx-responsive-box>
</div>

<dx-popup
  width="70%"
  height="80%"
  [showTitle]="true"
  title="Yeni Satınalma İsteği Ekleme"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="saveButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <dxo-position at="center" my="center"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <form class="login-form" action="javascript:void(0)">
          <dx-form [formData]="formData" [disabled]="loading" [showValidationSummary]="true" #formVar>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                <dxo-col-count-by-screen 
                  [lg]="3"  
                  [sm]="1"> 
                </dxo-col-count-by-screen>
                <dxi-item itemType="group">
                    <dxi-item
                    dataField="tarih"
                    editorType="dxDateBox"
                    [editorOptions]="{value: now,  type:'datetime',disabled:'true' }"
                  >
                  <dxo-label [visible]="true" text="Tarih"></dxo-label>
                  <dxi-validation-rule type="required" message="Tarih bilgisi gereklidir."></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item *ngIf="!yetkili" dataField="kullanici_id" editorType="dxTextBox" [visible]="yetkili"
                    [editorOptions]="{ mode: 'number', value:userID}">
                    <dxo-label [visible]="false" text="ID"></dxo-label>
                  </dxi-item>
                  <dxi-item *ngIf="!satinalma" dataField="kullanici_id" editorType="dxTextBox" [visible]="satinalma"
                    [editorOptions]="{ mode: 'number', value:userID}">
                    <dxo-label [visible]="false" text="ID"></dxo-label>
                  </dxi-item>
                  <dxi-item *ngIf="yetkili || satinalma"
                    dataField="kullanici_id"
                    editorType="dxSelectBox"
                    [editorOptions]="{dataSource: dataKullanicilar, displayExpr: 'adisoyadi', valueExpr: 'id', value:userID}">
                    <dxi-validation-rule type="required" message="İsteyen kişi gereklidir."></dxi-validation-rule>
                    <dxo-label [visible]="true" text="İsteyen Kişi"></dxo-label>
                  </dxi-item>
                  <dxi-item
                    dataField="sorumlu_id"
                    editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: dataKullanicilar, displayExpr: 'adisoyadi', valueExpr: 'id'}">
                    <dxi-validation-rule type="required" message="Sorumlu kişi gereklidir."></dxi-validation-rule>
                    <dxo-label [visible]="true" text="Sorumlu Kişi"></dxo-label>
                  </dxi-item>
                  <dxi-item
                    dataField="takipci_id"
                    editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: dataKullanicilar, displayExpr: 'adisoyadi', valueExpr: 'id'}">
                    <dxi-validation-rule type="required" message="Takipçi kişi gereklidir."></dxi-validation-rule>
                    <dxo-label [visible]="true" text="Takipçi Kişi"></dxo-label>
                  </dxi-item>
                  <dxi-item dataField="kullanilacagi_yer" editorType="dxTextBox"
                    [editorOptions]="{ mode: 'text' }">
                    <dxo-label [visible]="true" text="Kullanılacağı Yer"></dxo-label>
                    <dxi-validation-rule type="required" message="Kullanılacağı yer bilgisi gereklidir."></dxi-validation-rule>
                  </dxi-item>
                </dxi-item>
                <dxi-item itemType="group"  [colSpan]="2">
                  <dxi-item dataField="istek" editorType="dxTextBox"
                  [editorOptions]="{ mode: 'text' }">
                  <dxi-validation-rule type="required" message="Sipariş Adı bilgisi gereklidir."></dxi-validation-rule>
                  <dxo-label [visible]="true" text="Sipariş Adı"></dxo-label>
                </dxi-item>
                <dxi-item dataField="aciklama">
                  <div *dxTemplate>
                    <dx-data-grid #gridAciklamaDetay
                      height="440"
                      [dataSource]="dataAciklamaDetay"
                      (onKeyDown)="dataAciklamaDetayKeyDown($event)"
                      [scrolling]="{showScrollbar:'always'}"
                      [paging]="{enabled:false}"
                      [allowColumnReordering]="false"
                      [showBorders]="true">
                    <dxo-editing
                      mode="row"
                      [allowUpdating]="true"
                      [allowDeleting]="true"
                      [allowAdding]="true"
                    >
                    </dxo-editing>
                    <dxi-column dataField="adet" caption="Adet" width="20%" dataType="number"></dxi-column>
                  <dxi-column dataField="malzeme_adi" caption="Malzeme Adı"></dxi-column>
                  <dxo-summary>
                    <dxi-total-item
                        column="adet"
                        summaryType="count">
                    </dxi-total-item>
                  </dxo-summary>
                  </dx-data-grid>
                </div>
                <dxi-validation-rule type="required" message="Sipariş detay bilgisi gereklidir." [validationCallback]="checkDetayGridData"></dxi-validation-rule>
                <dxo-label [visible]="true" text="Sipariş Detayı"></dxo-label>
              </dxi-item>
              
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </dx-scroll-view>
  </div>
</dx-popup>

<!-- Satınalma Detayı -->

<dx-popup
  width="70%"
  height="80%"
  [showTitle]="true"
  title="Satınalma Detayı ({{kayitDetay.id}})"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="detayPopupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [visible]="guncelleYetki"
    [options]="detaySaveButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="detayCloseButtonOptions"
  >
  </dxi-toolbar-item>
  <dxo-position at="center" my="center"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <form class="login-form" action="javascript:void(0)">
          <dx-form [formData]="formDataDetay" [disabled]="loading"  #formVarDetay>
            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                <dxo-col-count-by-screen 
                  [lg]="3"  
                  [sm]="1"> 
                </dxo-col-count-by-screen>
                <dxi-item itemType="group">
                  <dxi-item dataField="id" editorType="dxTextBox" [visible]="false"
                  [editorOptions]="{ mode: 'number', value:kayitDetay.id}">
                  <dxo-label [visible]="false" text="ID"></dxo-label>
                </dxi-item>
                <dxi-item dataField="kullanici_id" editorType="dxTextBox" [visible]="false"
                  [editorOptions]="{ mode: 'number', value:userID}">
                  <dxo-label [visible]="false" text="Giriş Yapan Kullanıcı"></dxo-label>
                </dxi-item>
                <dxi-item
                  type="simple"
                  
                  dataField="durum"
                  editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: durumlar, displayExpr: 'DurumText', disabled:!guncelleYetki, valueExpr: 'id', value:kayitDetay.durum }">
                  <dxo-label [visible]="true" text="Durum Bilgisi"></dxo-label>
                </dxi-item>
                <dxi-item
                  dataField="satinalma_sip_tarih"
                  editorType="dxDateBox"
                  [editorOptions]="{value: kayitDetay.satinalma_sip_tarih,  disabled:!guncelleYetki, type:'datetime',showClearButton:true,onValueChanged:onValueChangedSipTarih}"
                >
                <dxo-label [visible]="true" text="Sipariş Tarihi"></dxo-label>
                </dxi-item>
                 
                <dxi-item
                  dataField="gelis_tarih"
                  editorType="dxDateBox"
                  [editorOptions]="{value: kayitDetay.gelis_tarih, disabled:!guncelleYetki,  type:'datetime', showClearButton:true,onValueChanged:onValueChangedGelTarih}"
                >
                <dxo-label [visible]="true" text="Geliş Tarihi"></dxo-label>
                </dxi-item>
                <dxi-item
                  dataField="temrin"
                  editorType="dxDateBox"
                  [editorOptions]="{value: kayitDetay.temrin, disabled:!guncelleYetki,  type:'datetime', showClearButton:true,onValueChanged:onValueChangedTemrin}"
                >
                <dxo-label [visible]="true" text="Termin Tarihi"></dxo-label>
                </dxi-item>
                <dxi-item dataField="kullanilacagi_yer" editorType="dxTextBox" 
                  [editorOptions]="{ mode: 'text',disabled:!guncelleYetki,value:kayitDetay.kullanilacagi_yer}">
                  <dxo-label [visible]="true" text="Kullanılacağı Yer"></dxo-label>
                </dxi-item> 
                
                </dxi-item>
                <dxi-item itemType="group"  [colSpan]="2">
                  <dxi-item dataField="istek" editorType="dxTextBox" 
                  [editorOptions]="{ mode: 'text',disabled:!guncelleYetki, value:kayitDetay.istek}">
                  <dxo-label [visible]="true" text="Sipariş Adı"></dxo-label>
                </dxi-item>
                <dxi-item dataField="aciklama">
                  <div *dxTemplate>
                    <dx-data-grid #gridAciklamaDetay
                      height="300"
                      [dataSource]="dataAciklamaDetay"
                      [scrolling]="{showScrollbar:'always'}"
                      [paging]="{enabled:false}"
                      [allowColumnReordering]="false"
                      [disabled]="!guncelleYetki"
                      [showBorders]="true">
                      <dxo-editing
                      mode="row"
                      [allowUpdating]="guncelleYetki"
                      [allowDeleting]="guncelleYetki"
                      [allowAdding]="guncelleYetki"
                    >
                    </dxo-editing>
                    <dxi-column dataField="adet" caption="Adet" width="20%" dataType="number"></dxi-column>
                  <dxi-column dataField="malzeme_adi" caption="Malzeme Adı"></dxi-column>
                  <dxo-summary>
                    <dxi-total-item
                        column="adet"
                        summaryType="count">
                    </dxi-total-item>
                </dxo-summary>
                  </dx-data-grid>
                </div>
                <dxo-label [visible]="true" text="Sipariş Detayı"></dxo-label>
              </dxi-item>
              <dxi-item dataField="detay_aciklama" editorType="dxTextArea" 
                  [editorOptions]="{ mode: 'text',disabled:!guncelleYetki,value:kayitDetay.detay_aciklama}">
                  <dxo-label [visible]="true" text="Açıklama"></dxo-label>
                </dxi-item> 
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
    </dx-scroll-view>
  </div>
</dx-popup>
